<div class="row">
  <div class="column">
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </div>
</div>

<div id="review_box" class="row">
  <div class="column">
    <% @home.reviews.each do |review| %>
    <hr/>
      <div class="row">
        <div class="small-12 columns">
          <strong>Reviewer: <%= review.reviewer.name %> (<%= review.reviewer.type %>) Rating: <%= review.rating %> Date: <%= review.date %></strong>
          <p><%= review.comment %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="column">
    <a href="/foster_home" class="button expand">Go Home</a>
  </div>
</div>
