<div class="row">
  <div class="column">
    <h4>Reviews for <%= @home.name %></h4>
  </div>
</div>

<div class="row">
  <div class="hide-for-small-only column">
    <div id="curve_chart"></div>
  </div>
</div>

<div id="review_box" class="row">
  <div class="column">
    <% @home.reviews.each do |review| %>
      <div class="row">
        <div class="small-12 columns">
          <strong>Date: <%= review.date %> Type: <%= review.reviewer.type %></strong><br>
          <strong>Reviewer: <%= review.reviewer.name %>  Rating: <%= review.rating %></strong>
          <p><%= review.comment %></p>
        </div>
      </div>
      <hr/>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="column">
    <a href="/foster_home" class="button expand">Go Home</a>
  </div>
</div>
